body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6DD5FA, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(background_login_img.jpg) ;
    background-size: cover;
    
}


.login-container {
    background-color: #ffffff;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    
}

.login-container:hover{
    border: solid black 2px;
    transition-delay: 100ms;
}

/* @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

.logo img {
    width: 120px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}


h2 {
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.input-group input,
.input-group select {
    width: 90%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
    /* appearance: none; */
}

.input-group select {
    padding-left: 40px;
    background: none;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
}

.input-group input:focus,
.input-group select:focus {
    border-color: #6e8efb;
    outline: none;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:active {
    transform: translateY(0);
}

.forgot-password {
    margin-top: 15px;
}

.forgot-password a {
    color: #6e8efb;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.forgot-password a:hover {
    color: #5a77d7;
}
.signup-link {
    margin-top: 20px;
    text-align: center;
}

.signup-link a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}